---
import Layout from '../layouts/Layout.astro';
import App from '../components/App';
import Footer from '../components/Footer';
---

<Layout title="Graphem">
  <main>
    <App client:idle />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 65ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
